* {
  font-family: serif;
}

.dashboard-container {
  & h1 {
    text-align: center;
    margin: 40px 0;
  }
}

.feedList-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  & h3 {
    margin: 0;
  }
  & img {
    border-radius: 15px;
  }
}

h2 {
  margin: auto;
}
